<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header class="" th:fragment="header">
	<nav class="navbar navbar-expand navbar-light ">
		<div class="container-fluid">
			<a href="#" class="burger-btn d-block"> <i
				class="bi bi-justify fs-3"></i>
			</a>

			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">


				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<!-- <li class="nav-item dropdown me-1"><a
						class="nav-link active dropdown-toggle" href="#"
						data-bs-toggle="dropdown" aria-expanded="false"> <i
							class='bi bi-envelope bi-sub fs-4 text-gray-600'></i>
					</a>
						<ul class="dropdown-menu dropdown-menu-end"
							aria-labelledby="dropdownMenuButton">
							<li>
								<h6 class="dropdown-header">Mail</h6>
							</li>
							<li><a class="dropdown-item" href="#">No new mail</a></li>
						</ul></li> -->
					<li class="nav-item dropdown me-3"><a
						class="nav-link active dropdown-toggle" href="#"
						data-bs-toggle="dropdown" aria-expanded="false"> <i
							class='bi bi-bell bi-sub fs-4 text-gray-600'></i>
					</a>
						<ul class="dropdown-menu dropdown-menu-end"
							aria-labelledby="dropdownMenuButton">
							<li>
								<h6 class="dropdown-header">Notifications</h6>
							</li>
							<li><a class="dropdown-item">No notification available</a></li>
						</ul></li>
				</ul>
				<div class="dropdown me-3">
					<div class="user-menu d-flex">
						<div id="sessionInfo" class="user-name text-end me-3">
							<h6 class="mb-0 text-gray-600">남은 세션 시간</h6>
							<h6 id="leftTimeInfo" class="mb-0 text-gray-600">00:00</h6>
						</div>
						<div class="user-img d-flex align-items-center">
							<button type="button" class="btn btn-sm btn-outline-secondary"
								onclick="reqTimeAjax(event); return false;">시간 연장</button>
						</div>
					</div>
				</div>
				<div class="dropdown">
					<a href="#" data-bs-toggle="dropdown" aria-expanded="false">
						<div class="user-menu d-flex">
							<div class="user-name text-end me-3"
								th:if="${session.loginVO != null}">
								<h6 class="mb-0 text-gray-600" th:text="${session.loginVO.name + '(' + session.loginVO.id + ')'}"></h6>
								<h6 class="mb-0 text-gray-600" th:text="${session.loginVO.deptName + ', ' + session.loginVO.rankName}"></h6>
							</div>
							<div class="user-img d-flex align-items-center">
								<div class="avatar avatar-md">
									<img th:src="@{/assets/images/faces/1.jpg}">
								</div>
							</div>
						</div>
					</a>
					<ul class="dropdown-menu dropdown-menu-end"
						aria-labelledby="dropdownMenuButton">
						<li>
							<h6 class="dropdown-header">Hello, John!</h6>
						</li>
						<li><a class="dropdown-item" href="#"><i
								class="icon-mid bi bi-person me-2"></i> My Profile</a></li>
						<li><a class="dropdown-item" href="#"><i
								class="icon-mid bi bi-gear me-2"></i> Settings</a></li>
						<li><a class="dropdown-item" href="#"><i
								class="icon-mid bi bi-wallet me-2"></i> Wallet</a></li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<li><a class="dropdown-item" href="#" id="logout"><i
								class="icon-mid bi bi-box-arrow-left me-2"></i> Logout</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<script th:inline="javascript">
		let egovLatestServerTime = /*[[${egovLatestServerTime}]]*/ "";
		let egovExpireSessionTime = /*[[${egovExpireSessionTime}]]*/ "";
		let refreshSessionUrl = /*[[ @{/uat/uia/refreshSessionTimeout.do} ]]*/ '';
		let loginVO = /*[[ ${session.loginVO} ]]*/ '';
	</script>
	<script>

		console.log(loginVO);
		
		$("#logout").on('click', function(event) {
			event.preventDefault();
			
			Swal.fire({
				icon : "question",
				title : "로그아웃 하시겠습니까?",
				showCancelButton: true,
				cancelButtonText: "취소",
				confirmButtonText: "로그아웃",
			}).then((result) => {
				  if (result.isConfirmed) {
					location.href = "/muscat/uat/uia/actionLogout.do";
				  } 
				});
		});
		
		init();
		
		function getCookie(cname) {
		 	  var name = cname + "=";
		 	  var decodedCookie = decodeURIComponent(document.cookie);
		 	  var ca = decodedCookie.split(';');
		 	  for(var i = 0; i <ca.length; i++) {
		 	    var c = ca[i];
		 	    while (c.charAt(0) == ' ') {
		 	      c = c.substring(1);
		 	    }
		 	    if (c.indexOf(name) == 0) {
		 	      return c.substring(name.length, c.length);
		 	    }
		 	  }
		 	  return "";
		 	}
		  
		  	function pad(n, width) {
		  	  n = n + '';
		  	  return n.length >= width ? n : new Array(width - n.length + 1).join('0') + n;
		  	}
		  
			var objLeftTime;
			var objClickInfo;
			var latestTime;
			var expireTime;
			var timeInterval = 1000; // 1초 간격 호출
			var firstLocalTime = 0;
			var elapsedLocalTime = 0;
			var stateExpiredTime = false;
			var timer;
		  	
			function init() {
				objLeftTime = document.getElementById("leftTimeInfo");
				if (!objLeftTime) return;

				latestTime = Number(egovLatestServerTime);
				expireTime = Number(egovExpireSessionTime);

				console.log("latestServerTime =", latestTime);
				console.log("expireSessionTime =", expireTime);

				if (isNaN(latestTime) || isNaN(expireTime)) {
					console.warn("시간 값이 유효하지 않습니다");
					return;
				}

				firstLocalTime = Date.now();
				showRemaining();
				timer = setInterval(showRemaining, timeInterval);
			}

			function showRemaining() {
				const now = Date.now();
				const timeRemaining = expireTime - now;

				if (timeRemaining < timeInterval) {
					console.log("세션 만료");
					clearInterval(timer);
					objLeftTime.innerHTML = "00:00";
					stateExpiredTime = true;
					return;
				}

				const timeHour = Math.floor(timeRemaining / 1000 / 60 / 60);
				const timeMin = Math.floor((timeRemaining / 1000 / 60) % 60);
				const timeSec = Math.floor((timeRemaining / 1000) % 60);
				objLeftTime.innerHTML = pad(timeMin, 2) + ":" + pad(timeSec, 2);
			}
		  
			function reqTimeAjax(event) {
				if (event) event.target.blur();
			  	
			  	if (stateExpiredTime==true) {
			  		alert('시간을 연장할수 없습니다.');
			  		return;
			  	}
			  	
				$.ajax({
				    url: refreshSessionUrl, //request 보낼 서버의 경로
				    type:'get', // 메소드(get, post, put 등)
				    data:{}, //보낼 데이터
				    success: function(data) {
				        //서버로부터 정상적으로 응답이 왔을 때 실행
			        	egovLatestServerTime = data.egovLatestServerTime;
			        	egovExpireSessionTime = data.egovExpireSessionTime;
			        	//console.log("new latestServerTime = " + egovLatestServerTime);
			        	//console.log("new expireSessionTime = " + egovExpireSessionTime);
			        	init();
				        //alert("정상수신 , data = "+data);
				    },
				    error: function(err) {
				    	alert("err : "+err);
				        //서버로부터 응답이 정상적으로 처리되지 못햇을 때 실행
				    	//alert("오류발생 , error="+err.state());
				    }
				});
				return false;
			}
	</script>
</header>
</html>