<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MUSCAT - Groupware with eGov]</title>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}">

<link rel="stylesheet" th:href="@{/assets/css/pages/email.css}">
<link rel="stylesheet"
	th:href="@{/assets/vendors/sweetalert2/sweetalert2.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/pages/auth.css}">

<link rel="stylesheet"
	href="//cdn.datatables.net/2.3.2/css/dataTables.dataTables.min.css">

<link rel="stylesheet" th:href="@{/assets/vendors/iconly/bold.css}">

<link rel="stylesheet"
	th:href="@{/assets/vendors/perfect-scrollbar/perfect-scrollbar.css}">
<link rel="stylesheet"
	th:href="@{/assets/vendors/bootstrap-icons/bootstrap-icons.css}">
<link rel="stylesheet" th:href="@{/assets/css/app.css}">
<link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}"
	type="image/x-icon">
<link rel="stylesheet"
	href="https://cdn.ckeditor.com/ckeditor5/45.2.0/ckeditor5.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>

<style>
.sidebar-hidden {
	visibility: hidden;
}
.navbar {
	background-color: lavender;
}
</style>
</head>
<body>
	<div id="app">
		<div th:replace="layout/sidebar :: sidebar"></div>
		<div id="main" class="p-1">
			<div th:replace="layout/header :: header"></div>
			<main layout:fragment="content"></main>
			<div th:replace="layout/footer :: footer"></div>
		</div>
	</div>

	<script
		th:src="@{/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
	<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/assets/vendors/sweetalert2/sweetalert2.all.min.js}"></script>

	<script th:src="@{/assets/js/main.js}"></script>
</body>
</html>