<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login - MUSCAT</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}">

<link rel="stylesheet" th:href="@{/assets/css/pages/email.css}">
<link rel="stylesheet"
	th:href="@{/assets/vendors/sweetalert2/sweetalert2.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/pages/auth.css}">

<link rel="stylesheet" th:href="@{/assets/vendors/iconly/bold.css}">

<link rel="stylesheet"
	th:href="@{/assets/vendors/perfect-scrollbar/perfect-scrollbar.css}">
<link rel="stylesheet"
	th:href="@{/assets/vendors/bootstrap-icons/bootstrap-icons.css}">
<link rel="stylesheet" th:href="@{/assets/css/app.css}">
<link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}"
	type="image/x-icon">
<script src="https://code.jquery.com/jquery-3.7.1.js"
	integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
	crossorigin="anonymous"></script>
</head>

<body>
	<div id="auth">
		<div class="row h-100">
			<div class="col-lg-5 d-none d-lg-block">
				<div id="auth-right"></div>
			</div>
			<div class="col-lg-7 col-12">
				<div id="auth-left px-2 py-2">
					<div class="card">
						<div class="card-header text-white">
							<h5 class="mb-0">회원가입</h5>
						</div>
						<div class="card-body">

							<!-- 일반회원 아이디 -->
							<div class="form-group position-relative has-icon-left mb-3">
								<input type="text" class="form-control"
									id="userId" placeholder="아이디">
								<div class="form-control-icon">
									<i class="bi bi-person-badge"></i>
								</div>
								<button type="button"
									class="btn btn-outline-primary position-absolute top-0 end-0 mt-1 me-1 btn-sm">중복아이디
									검색</button>
							</div>

							<!-- 일반회원 이름 -->
							<div class="form-group position-relative has-icon-left mb-3">
								<input type="text" class="form-control"
									id="userName" placeholder="일반회원이름">
								<div class="form-control-icon">
									<i class="bi bi-person"></i>
								</div>
							</div>

							<!-- 비밀번호 -->
							<div class="form-group position-relative has-icon-left mb-3">
								<input type="password" class="form-control"
									id="password" placeholder="비밀번호">
								<div class="form-control-icon">
									<i class="bi bi-lock"></i>
								</div>
							</div>

							<!-- 비밀번호 확인 -->
							<div class="form-group position-relative has-icon-left mb-3">
								<input type="password" class="form-control"
									id="confirmPassword" placeholder="비밀번호 확인">
								<div class="form-control-icon">
									<i class="bi bi-lock-fill"></i>
								</div>
							</div>

							<!-- 비밀번호 힌트 -->
							<div class="form-group mb-3">
								<select class="form-select" id="passwordHint">
									<option selected>--비밀번호 힌트 선택--</option>
									<option value="1">어릴 적 별명</option>
									<option value="2">기억에 남는 선생님 이름</option>
								</select>
							</div>

							<!-- 비밀번호 정답 -->
							<div class="form-group position-relative has-icon-left mb-3">
								<input type="text" class="form-control"
									id="passwordAnswer" placeholder="비밀번호 힌트 정답">
								<div class="form-control-icon">
									<i class="bi bi-question-circle"></i>
								</div>
							</div>

							<!-- 성별 구분 코드 -->
							<div class="form-group mb-3">
								<select class="form-select" id="genderCode">
									<option selected>--성별 구분--</option>
									<option value="M">남성</option>
									<option value="F">여성</option>
								</select>
							</div>

							<!-- 전화번호 -->
							<div class="row mb-3">
								<div class="col">
									<input type="text" class="form-control"
										placeholder="전화번호 앞자리">
								</div>
								<div class="col">
									<input type="text" class="form-control"
										placeholder="중간자리">
								</div>
								<div class="col">
									<input type="text" class="form-control"
										placeholder="끝자리">
								</div>
							</div>

							<!-- 핸드폰, 이메일, 우편번호, 주소 -->
							<div class="form-group position-relative has-icon-left mb-3">
								<input type="text" class="form-control"
									id="mobile" placeholder="핸드폰번호">
								<div class="form-control-icon">
									<i class="bi bi-phone"></i>
								</div>
							</div>

							<div class="form-group position-relative has-icon-left mb-3">
								<input type="email" class="form-control"
									id="email" placeholder="이메일주소">
								<div class="form-control-icon">
									<i class="bi bi-envelope"></i>
								</div>
							</div>

							<div class="form-group position-relative has-icon-left mb-3">
								<input type="text" class="form-control"
									id="zipcode" placeholder="우편번호">
								<div class="form-control-icon">
									<i class="bi bi-geo"></i>
								</div>
							</div>

							<div class="form-group mb-3">
								<input type="text" class="form-control"
									id="address" placeholder="주소">
							</div>

							<div class="form-group mb-4">
								<input type="text" class="form-control"
									id="addressDetail" placeholder="상세주소">
							</div>

							<!-- 버튼 -->
							<div class="d-flex justify-content-end">
								<button class="btn btn-primary me-2">등록</button>
								<button class="btn btn-outline-secondary">목록</button>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
	</script>
	<script
		th:src="@{/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
	<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>

	<script th:src="@{/assets/vendors/sweetalert2/sweetalert2.all.min.js}"></script>

	<script th:src="@{/assets/js/main.js}"></script>
</body>

</html>