<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<main layout:fragment="content">
	<p>APPROV_MAIN</p>

	<div class="container">
		<div>
			<table class="table" id="approvToDoTable">
				<thead>
					<tr>
						<th>a</th>
					</tr>
					<tr>
						<th>b</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>c</td>
					</tr>
					<tr>
						<td>d</td>
					</tr>
				</tbody>
			</table>

		</div>
		<div>
			<table class="table" id="approvToDoHistory">
				<thead>
					<tr>
						<th>a</th>
					</tr>
					<tr>
						<th>b</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>c</td>
					</tr>
					<tr>
						<td>d</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</main>

<script src="//cdn.datatables.net/2.3.2/js/dataTables.min.js"></script>
<script>
	let table1 = new DataTable('#approvToDoTable');
</script>

</html>