<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">


<main layout:fragment="content">
	<div id="auth">
		<div class="row h-100">
			<div class="col-lg-8 col-12 mx-auto">
				<div id="auth-left px-2 py-2">
					<div class="card">
						<div class="card-header text-white">
							<h5 class="mb-0">회원정보</h5>
						</div>
						<div class="card-body">

							<!-- 일반회원 아이디 -->
							<div class="row g-3 align-items-center mb-2">
								<div class="col-3">
									<label for="mberId" class="col-form-label">아이디</label>
								</div>
								<div class="col-auto">
									<input type="text" id="mberId" class="form-control"
										th:value="${mberManageVO.mberId}" readonly>
								</div>
								<div class="col-auto"></div>
							</div>

							<!-- 일반회원 이름 -->
							<div class="row g-3 align-items-center mb-2">
								<div class="col-3">
									<label for="mberNm" class="col-form-label">이름</label>
								</div>
								<div class="col-auto">
									<input type="text" id="mberNm" class="form-control"
										th:value="${mberManageVO.mberNm}" readonly>
								</div>
								<div class="col-auto"></div>
							</div>

							<!-- 부서 -->
							<div class="row g-3 align-items-center mb-2">
								<div class="col-3">
									<label for="deptId" class="col-form-label">부서</label>
								</div>
								<div class="col-auto">
									<select class="form-select" id="parentDept">
										<option selected value="">-- 상위 부서 --</option>
										<option th:each="item : ${parent_dept_result}"
											th:value="${item.id}" th:text="${item.text}"></option>
									</select>
								</div>
								<div class="col-auto">
									<select class="form-select" id="childDept">
										<option selected value="">-- 하위 부서 --</option>
									</select>
								</div>
							</div>

							<!-- 직급  -->
							<div class="row g-3 align-items-center mb-2">
								<div class="col-3">
									<label for="grade" class="col-form-label">직급</label>
								</div>
								<div class="col-auto">
									<select class="form-select" id="rank">
										<option selected value="">-- 직급 구분 --</option>
										<option th:each="item : ${rank_result}"
											th:value="${item.code}" th:text="${item.codeNm}"
											th:selected="${item.code == mberManageVO.rank}"></option>
									</select>
								</div>
							</div>

							<!-- 성별 -->
							<div class="row g-3 align-items-center mb-2">
								<div class="col-3">
									<label for="sexdstnCode" class="col-form-label">성별</label>
								</div>
								<div class="col-auto">
									<input type="text" class="form-control" id="sexdstnCode"
										th:value="${mberManageVO.sexdstnCode == 'M' ? '남' : '여'}"
										readonly>
								</div>
							</div>

							<!-- 전화번호 -->
							<div class="row g-3 align-items-center mb-2">
								<div class="col-3">
									<label class="col-form-label">전화번호</label>
								</div>
								<div class="col-auto">
									<input type="text" class="form-control" id="telno"
										th:value="${mberManageVO.areaNo + '-' + mberManageVO.middleTelno + '-' + mberManageVO.endTelno }"
										readonly>
								</div>
							</div>

							<!-- 핸드폰번호 -->
							<div class="row g-3 align-items-center mb-2">
								<div class="col-3">
									<label for="mobile" class="col-form-label">핸드폰</label>
								</div>
								<div class="col-auto">
									<input type="text" class="form-control" id="moblphonNo"
										th:value="${mberManageVO.moblphonNo}" readonly>
								</div>
							</div>

							<!-- 이메일 -->
							<div class="row g-3 align-items-center mb-2">
								<div class="col-3">
									<label for="mberEmailAdres" class="col-form-label">이메일</label>
								</div>
								<div class="col-auto">
									<input type="email" id="mberEmailAdres" class="form-control"
										th:value="${mberManageVO.mberEmailAdres}" readonly>
								</div>
							</div>

							<!-- 우편번호 -->
							<div class="row g-3 align-items-center mb-2">
								<div class="col-3">
									<label for="zip" class="col-form-label">우편번호</label>
								</div>
								<div class="col-2">
									<input type="text" id="zip" class="form-control"
										th:value="${mberManageVO.zip}" readonly>
								</div>
								<div class="col-auto"></div>
							</div>

							<!-- 주소 -->
							<div class="row g-3 align-items-center mb-2">
								<div class="col-3">
									<label for="adres" class="col-form-label">주소</label>
								</div>
								<div class="col-6">
									<input type="text" id="adres" class="form-control"
										th:value="${mberManageVO.adres}" readonly>
								</div>
							</div>

							<!-- 상세주소 -->
							<div class="row g-3 align-items-center mb-2">
								<div class="col-3">
									<label for="detailAdres" class="col-form-label">상세주소</label>
								</div>
								<div class="col-9">
									<input type="text" id="detailAdres" class="form-control"
										th:value="${mberManageVO.detailAdres}" readonly>
								</div>
							</div>

							<!-- 회원 가입 승인 여부 -->
							<div class="row g-3 align-items-center mb-2">
								<div class="col-3">
									<label for="mberSttus" class="col-form-label">회원 가입 상태</label>
								</div>
								<div class="col-auto">
									<select class="form-select" id="mberSttus">
										<option selected value="">-- 상태 구분 --</option>
										<option th:each="item : ${mberSttus_result}"
											th:value="${item.code}" th:text="${item.codeNm}"
											th:selected="${item.code == mberManageVO.mberSttus}"></option>
									</select>
								</div>
							</div>

							<!-- <input type="hidden" id="mberSttus" value="A"> -->

							<!-- 권한  -->
							<!-- <div class="row g-3 align-items-center mb-2">
								<div class="col-2">
									<label for="sexdstnCode" class="col-form-label">권한</label>
								</div>
								<div class="col-auto">
									<select class="form-select" id="sexdstnCode">
										<option selected value="">-- 권한 구분 --</option>
										<option th:each="item : ${sexdstnCode_result}"
											th:value="${item.code}" th:text="${item.codeNm}"></option>
									</select>
								</div>
							</div> -->

							<!-- 버튼 -->
							<div class="d-flex justify-content-end">
								<button class="btn btn-primary me-2" id="confirmModifyUser">수정</button>
								<button class="btn btn-outline-secondary" id="cancelModifyUser">취소</button>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script th:inline="javascript">
	let mber = /*[[${mberManageVO}]]*/ "";
	let selectedParentDeptId = /*[[${mberManageVO.parentDeptId}]]*/ "";
	let selectedDeptId = /*[[${mberManageVO.deptId}]]*/ "";
	let parent_dept_result = /*[[${parent_dept_result}]]*/ "";
	let childDeptList = /*[[${child_dept_result}]]*/ "";

	let userListUrl = /*[[ @{/admin/user/userList.do} ]]*/ '';
	let modifyUserUrl = /*[[ @{/admin/user/modifyUser.do} ]]*/ '';
	
		$('document').ready(function() {

			console.log(selectedParentDeptId)
			console.log(selectedDeptId)
			console.log(parent_dept_result)
			console.log(childDeptList)
			
			if (selectedParentDeptId) {
				$('#parentDept').val(selectedParentDeptId);
				
				let childDept = $('#childDept');
				childDept.html('');
				
			    childDept.empty().append('<option value="">-- 하위 부서 --</option>');

			    const filtered = childDeptList.filter(d => d.parent == selectedParentDeptId);

			    filtered.forEach(d => {
			    	childDept.append(`<option value="${d.id}">${d.text}</option>`);
			    });
				
				$('#childDept').val(selectedDeptId);
			} else {
				$('#parentDept').val(selectedDeptId);
			}			
			
			$('#parentDept').on('change', function(event) {
				
			    const parentId = $(event.target).val();
			    
				let childDept = $('#childDept');
				childDept.html('');
				
			    childDept.empty().append('<option value="">-- 하위 부서 --</option>');

			    const filtered = childDeptList.filter(d => d.parent == parentId);


			    filtered.forEach(d => {
			    	childDept.append(`<option value="${d.id}">${d.text}</option>`);
			    });
							
			});
			
		});
		
		function cancelModifyUser() {
			
		}
		
		function confirmModifyUser() {
			
			mber.
			
			$.ajax({
				type: "POST",
				url: modifyUserUrl,
				data: mber,
				dataType: 'json',
				timeout:(1000*30),
				})
				.done(function() {
					Swal.fire({
						icon : "success",
						title : "회원 가입 요청이 완료되었습니다"
					}).then(() => {
						location.href = '/muscat/login/login.do';
					})
				  })
				  .fail(function() {
						Swal.fire({
							icon : "error",
							title : "오류가 발생했습니다"
						})
				  });
		}		
	</script>
</main>